<!DOCTYPE html>
<html>
	<head>
		<title>Love page</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="/style.css" type="text/css">
	</head>
	
	<body>
		<div class="container">
	<h1>Add a to-do</h1>
	<img src="add32.png">
		</div>
	</body>
</html>